{% extends 'base.html.twig' %}

{% block body %}


    <h1>Modifier un Participant</h1>

    <div>
        {{ form_start(participantForm) }}

        {{ form_widget(participantForm,{label_attr: {class: 'test'} }) }}

        <button class="btn btn-primary" value="enregistrer">Enregistrer</button>
        <a class="btn btn-primary" href="{{ path('main_home')}}" role="button">Annuler</a>

        {{ form_end(participantForm) }}

    </div>


{% endblock %}

{% block title %}
Modification d'un participant {{ app.user.nom }}
{% endblock %}

