{% extends 'base.html.twig' %}

{% block title %}
    Mon Profil ({{ app.user.nom }}) | {{ parent() }}
{% endblock %}

{% block body %}


    <h2>Nom : {{ app.user.nom }}</h2>
    <div>Prenom: {{ app.user.prenom }}</div>
    <div>Campus: {{ app.user.campus.nom }}</div>
    <div>Email: {{ app.user.email }}</div>
    <div>Telephone: {{ app.user.telephone }}</div>


    {{ form_start(ParcicipantForm) }}
    {{ form_widget(ParcicipantForm) }}
    {{ form_end(ParcicipantForm) }}




{% endblock %}

