{% extends 'base.html.twig' %}

{% block body %}
<br>
<br>
    <h4>Filtrer les sorties</h4>
<div class="container">

    <div class="row">
        <div class="col">


            <br>

            Campus :
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    Nom du campus
                </button>
                <ul class="dropdown-menu" aria-labelledby="NomCampus">
                    <li><a class="dropdown-item" href="#">SAINT HERBLAIN</a></li>
                    <li><a class="dropdown-item" href="#">CHARTRES DE BRETAGNE</a></li>
                    <li><a class="dropdown-item" href="#">SLA ROCHE SUR YON</a></li>
                </ul>
            </div>

            <br>
            Le nom de la sortie contient :
            <form class="form-floating">
                <input class="form-control" id="floatingInputValue" placeholder="search">
                <label for="Search">search</label>
            </form>
            <br>
            Entre <input type="date"> et <input type="date">
            <br></div>

        <div class="col">


            <div>
                <input type="checkbox" id="SortieOrganisateur" name="SortieOrganisateur">
                <label for="SortieOrganisateur">Sorties dont je suis l'organisateur/trice</label>
            </div>

            <div>
                <input type="checkbox" id="SortiesInscrit" name="SortiesInscrit">
                <label for="SortiesInscrit">Sorties auxquelles je suis inscrit/e</label>
            </div>

            <div>
                <input type="checkbox" id="SortiesNonInscrit" name="SortiesNonInscrit">
                <label for="SortiesNonInscrit">Sorties auxquelles je ne suis pas inscrit/e</label>
            </div>

            <div>
                <input type="checkbox" id="SortiesPassees" name="SortiesPassees">
                <label for="SortiesPassees">Sorties passées</label>
            </div>
        </div>
        <div class="col">
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-primary" type="button">Rechercher</button>
            </div>
        </div>
    </div>

    <br>
    {% include 'sortie/tableau.html.twig' %}
    <br>
    <a href="{{ path('sortie_creer') }}" class="btn btn-primary">Créer une sortie</a>

    {% endblock %}

    {% block title %}{{ parent() }} | Home{% endblock %}