.container {
    max-width: 2500px;
    margin: auto;
    padding: 5px;
}

label{
    font: 1rem 'Fira Sans', sans-serif;
}

input{
    margin: .4rem;
}


textarea,
select {
    box-sizing: border-box;
    width: 200px;
    max-width: 50%;
    margin: .4rem;
}

.flash{
    padding: 20px;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 1rem 0;
    border-radius: 5px;
}

.flash-success {
    background-color: forestgreen;
}