{% extends 'base.html.twig' %}

{% block body %}






    {# todo afficher toutes les infos de la serie #}
    <section class="seasons">
        <h3>{{ participant.nom }}</h3>

                    <h2>Id n° : {{ participant.id }}</h2>
                    <div>Nom : {{ participant.nom }}</div>
                    <div>Prenom : {{ participant.prenom }}</div>
                    <div>Email : {{ participant.email }}</div>
                    <div>Telephone : {{ participant.telephone }}</div>
                    <div>Campus : {{ participant.campus.nom }}</div>

            <a class="btn btn-primary" href="{{ path('admin_supprimer', {'id':participant.id})}}" role="button">Supprimer</a>

    </section>


{% endblock %}

{% block title %}
    Details Utilisateur {{ participant.nom }}

{% endblock %}

