{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <table>
        <tr>
            <td>

                    {% for participant in participants %}
                        <div>Id: {{ participant.id }}</div>
                        <div>Nom: {{ participant.nom }}</div>
                        <div>Prenom: {{ participant.prenom }}</div>
                        <div>Email: {{ participant.email }}</div>
                        <div>Telephone: {{ participant.telephone }}</div>
                        <div>Campus: {{ participant.campus.nom }}</div>

                        <a href="{{ path('admin_details', {'id':participant.id}) }}">Details de l'utilisateur</a>

                    {% endfor %}

            </td>
        </tr>
    </table>


{% endblock %}

