{% extends 'base.html.twig' %}
{% form_theme etatForm 'bootstrap_4_layout.html.twig' %}
{% block title %}
    {{ parent() }} | Annuler une sortie
{% endblock %}

{% block body %}
<div class="container">
    <h2>Annuler une sortie</h2>
    <br>
    <div>
    Nom du lieu : {{ sortie.nom }}
        <br>
    Date de la sortie : {{ sortie.dateHeureDebut|date ('d/m/Y') }}
        <br>
    Campus : {{ sortie.campus.nom }}
        <br>
    Lieu : {{ sortie.lieu.nom~" " }}{{ sortie.lieu.rue~" " }}{{ sortie.lieu.ville.codePostal~" " }}{{ sortie.lieu.ville.nom }}
        <br>
        <br>
    </div>
    <div>
        {{ form_start(etatForm) }}
        {{ form_widget(etatForm) }}

    <br>
    <br>
    <button class="btn btn-primary" value="enregistrer">Enregistrer</button>
    <a class="btn btn-primary" href="{{ path('main_home')}}" role="button">Annuler</a>
        {{ form_end(etatForm) }}
    </div>
</div>
    <br>
    <br>
{% endblock %}