{% extends 'base.html.twig' %}
{% form_theme sortieForm 'bootstrap_4_layout.html.twig' %}
{% block title %}
    {{ parent() }} | Créer une sortie
{% endblock %}

{% block body %}

    <h2>Créer une sortie</h2>

    <div>
        {{ form_errors(sortieForm) }}

        {{ form_start(sortieForm) }}

        {{ form_widget(sortieForm) }}


        <button class="btn btn-primary" value="enregistrer">Enregistrer</button>
        <button class="btn btn-primary" name="clicked" value="publier">Publier</button>
        <input class="btn btn-secondary"  type="reset" value="Annuler">

        {{ form_end(sortieForm) }}

    </div>
    <br>
    <br>
    <br>
    <br>
    <br>


//Partie JS à améliorer en ajoutant un select dans le form Symfony puis un hidden field à mapper avec le select
    <div id="container">
        <h6>Sélection </h6>
        <label for="cp">cp</label><input name="cp" id="cp" type="text" placeholder="CP">
        <label for="villes">villes</label><select name="villes" id="villes" type="text" placeholder="Ville"></select>
        <label for="adresse">adresse</label><input name="adresse" id="adresse" type="text" placeholder="Adresse">

    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script>

        function initListeVilles() {
            const champsortiecp =document.getElementById("sortie_lieu_ville_codePostal");
            let sortiecpvalue = champsortiecp.value;
            /*
            const champcp =document.getElementById("cp");
            let cpvalue = champcp.value;
            console.log(champcp);
            console.log(cpvalue);
*/
            fetch("https://geo.api.gouv.fr/communes?codePostal="+sortiecpvalue, {
                'method': "GET"
            })
                .then(response=>response.json())
                .then(response => {
                    console.log(response);
                    const $select = document.querySelector("#villes");
                    let options = "";
                    response.map(villes => {
                        options += `<option value="${villes.code}">${villes.nom}</option>`
                    })
                    console.log(options);
                    $select.innerHTML = options;
                })
                //récupérer l'erreur avec le catch
                .catch(e => {
                    alert('ERREUR');
                })
        }
        /*
        const champville= document.getElementById("sortie_lieu_ville_ville");
        champville.addEventListener('focus', initListeVilles);
        */

        const champville= document.getElementById("villes");
        champville.addEventListener('focus', initListeVilles);



    </script>
{% endblock %}
