{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Afficher une sortie
{% endblock %}

{% block body %}
<div class="container">
    <h2>Afficher une sortie</h2>
    <br>
    <form>
        <div class="form-group row">
        <label for="nom" class="col-sm-4 col-form-label">Nom de la sortie :</label>
        <div class="col-sm-8">
        <input type="text" readonly class="form-control-plaintext" id="nom" placeholder="{{ sortie.nom }}">
        </div>
        </div>
        <div class="form-group row">
            <label for="dateHeureDebut" class="col-sm-4 col-form-label">Date et heure de la sortie :</label>
            <div class="col-sm-8">
            <input type="text" readonly class="form-control-plaintext" id="dateHeureDebut" placeholder="{{ sortie.dateHeureDebut|date("d-m-Y H:i:s") }}">
        </div>
        </div>
        <div class="form-group row">
            <label for="dateLimiteInscription" class="col-sm-4 col-form-label">Date Limite d'inscription : </label>
            <div class="col-sm-8">
                <input type="text" readonly class="form-control-plaintext" id="dateLimiteInscription" placeholder="{{ sortie.dateLimiteInscription|date("d-m-Y") }}">
            </div>
        </div>
        <div class="form-group row">
            <label for="nbInscriptionsMax" class="col-sm-4 col-form-label">Nombre de places : </label>
            <div class="col-sm-8">
                <input type="number" readonly class="form-control-plaintext" id="nbInscriptionsMax" placeholder="{{ sortie.nbInscriptionsMax }}">
            </div>
        </div>
        <div class="form-group row">
            <label for="duree" class="col-sm-4 col-form-label">Durée :</label>
            <div class="col-sm-8">
                <input type="text" readonly class="form-control-plaintext" id="duree" placeholder="{{ sortie.duree|date("H:i:s") }}">
            </div>
        </div>
        <div class="form-group row">
            <label for="infosSortie" class="col-sm-4 col-form-label">Description et infos :</label>
            <div class="col-sm-8">
                <input type="text" readonly class="form-control-plaintext" id="infosSortie" placeholder="{{ sortie.infosSortie }}">
            </div>
        </div>
        <div class="form-group row">
            <label for="campus" class="col-sm-4 col-form-label">Campus : </label>
            <div class="col-sm-8">
                <input type="text" readonly class="form-control-plaintext" id="campus" placeholder="{{ sortie.campus.nom }}">
            </div>
        </div>
        <div class="form-group row">
            <label for="lieu" class="col-sm-4 col-form-label">Lieu : </label>
            <div class="col-sm-8">
                <input type="text" readonly class="form-control-plaintext" id="lieu" placeholder="{{ sortie.lieu.nom }}">
            </div>
        </div>
        <div class="form-group row">
            <label for="rue" class="col-sm-4 col-form-label">Rue :</label>
            <div class="col-sm-8">
                <input type="text" readonly class="form-control-plaintext" id="rue" placeholder="{{ sortie.lieu.rue }}">
            </div>
        </div>
        <div class="form-group row">
            <label for="codePostal" class="col-sm-4 col-form-label">Code Postal :</label>
            <div class="col-sm-8">
                <input type="text" readonly class="form-control-plaintext" id="codePostal" placeholder="{{ sortie.lieu.ville.codePostal }}">
            </div>
        </div>
        <div class="form-group row">
            <label for="ville" class="col-sm-4 col-form-label">Ville :</label>
            <div class="col-sm-8">
                <input type="text" readonly class="form-control-plaintext" id="ville" placeholder="{{ sortie.lieu.ville.nom }}">
            </div>
        </div>
        <div class="form-group row">
            <label for="latitude" class="col-sm-4 col-form-label">Latitude : </label>
            <div class="col-sm-8">
                <input type="text" readonly class="form-control-plaintext" id="latitude" placeholder="{{ sortie.lieu.latitude }}">
            </div>
        </div>
        <div class="form-group row">
            <label for="longitude" class="col-sm-4 col-form-label">Longitude : </label>
            <div class="col-sm-8">
                <input type="text" readonly class="form-control-plaintext" id="longitude" placeholder="{{ sortie.lieu.longitude}}">
            </div>
        </div>
    </form>
    <br>

    <br>
    </div>
    <br>
    <br>
    <br>
    <br>

    <div>
        <h5>Liste des participants inscrits : </h5>

            {% for sorties in sortie %}
          <p> {{ sorties.participants.nom }}</p>
            {% endfor %}
        <br>
        <br>
    </div>

{% endblock %}