{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Inscription à une sortie
{% endblock %}

{% block body %}
{% block body %}
<div class="container">
    <h2>S'inscrire à une sortie</h2>
    <br>
    <div>
        Nom du lieu : {{ sortie.nom }}
        <br>
        Date de la sortie : {{ sortie.dateHeureDebut|date ('d/m/Y') }}
        <br>
        Campus : {{ sortie.campus.nom }}
        <br>
        Lieu : {{ sortie.lieu.nom~" " }}{{ sortie.lieu.rue~" " }}{{ sortie.lieu.ville.codePostal~" " }}{{ sortie.lieu.ville.nom }}
        <br>
        <button class="btn btn-primary" value="inscription">S'inscrire</button>
        <br>
    </div>
</div>
{% endblock %}

