{% extends 'base.html.twig' %}

{% block body %}
<br>
<section>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Nom de la sortie</th>
                <th scope="col">Date de la sortie</th>
                <th scope="col">Clôture</th>
                <th scope="col">Inscrits/places</th>
                <th scope="col">Etat</th>
                <th scope="col">Inscrit</th>
                <th scope="col">Organisateur</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            {% for sortie in sorties %}
            <tbody>
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut|date("d-m-Y H:i:s") }}</td>
                <td>{{ sortie.dateLimiteInscription|date("d-m-Y") }}</td>
                <td>nb inscrits sur {{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.etat.libelle }}</td>
                <td>to do conditionnelle</td>
                <td>to do ajouter champ organisateur dans table sortie</td>
                <td><a href="{{ path('sortie_details',{"id":sortie.id}) }}">Voir</a></td>
                {% endfor %}
            </tr>
            </tbody>
        </table>
</section>
    <br>
{% endblock %}

{% block title %}
Détail des sorties | {{ parent() }}
{% endblock %}

