{% extends 'base.html.twig' %}
{% form_theme sortieForm 'bootstrap_4_layout.html.twig' %}
{% block title %}Modification d'une sortie{% endblock %}

{% block body %}
    <h1>Modifier une sortie</h1>

    <div>
        {{ form_start(sortieForm) }}

        {{ form_widget(sortieForm,{label_attr: {class: 'test'} }) }}

        <button class="btn btn-primary" value="enregistrer">Enregistrer</button>
        <button class="btn btn-primary" name="btnPublier" value="publier">Publier la sortie</button>
        <button class="btn btn-primary" name="btnSupprimer" value="supprimer">Supprimer la sortie</button>
        <a class="btn btn-primary" href="{{ path('main_home')}}" role="button">Annuler</a>

        {{ form_end(sortieForm) }}

    </div>


{% endblock %}