<section>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Nom de la sortie</th>
            <th scope="col">Date de la sortie</th>
            <th scope="col">Clôture</th>
            <th scope="col">Inscrits/places</th>
            <th scope="col">Etat</th>
            <th scope="col">Inscrit</th>
            <th scope="col">Organisateur</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        {% for sortie in sorties %}
        <tbody>
        <tr>
            <td>{{ sortie.nom }}</td>
            <td>{{ sortie.dateHeureDebut|date("d-m-Y H:i:s") }}</td>
            <td>{{ sortie.dateLimiteInscription|date("d-m-Y") }}</td>
            <td>{{ sortie.participants|length }} inscrits sur {{ sortie.nbInscriptionsMax }}</td>
            <td>{{ sortie.etat.libelle }}</td>
            <td>{% if app.user in sortie.participants %}
                    <p>Oui</p>
                    {% else %}
                    <p>Non</p>
                {% endif %} </td>
            <td>{{ sortie.participant.prenom~" " }}{{ sortie.participant.nom }}</td>
            <td><a href="{{ path('sortie_details',{"id":sortie.id}) }}">Voir</a>
                {% if app.user in sortie.participants and sortie.dateHeureDebut|date('d/m/Y') >= "now"|date('d/m/Y') %}
                <a href="{{ path('sortie_desincrire', {"id":sortie.id}) }}">Se désinscrire</a>
                {% endif %}
                {% if app.user.id == sortie.participant.id and sortie.dateHeureDebut|date('d/m/Y') >= "now"|date('d/m/Y') %}
                    <a href="{{ path('sortie_modifier',{"id":sortie.id}) }}">Modifier</a>

                    <a href="{{ path('sortie_annuler',{"id":sortie.id}) }}">Annuler</a>
                {% endif %}
                {% if sortie.etat.libelle == "Ouverte" and sortie.nbInscriptionsMax > sortie.participants.count and app.user not in sortie.participants %}

                    <a href="{{ path('sortie_inscription', {"id":sortie.id }) }}">M'inscrire</a>

                {% endif %}


            </td>
            {% endfor %}
        </tr>
        </tbody>
    </table>
</section>