<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Sortir.com{% endblock %}</title>

    {% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    {% endblock %}


    <link rel="icon" href="{{ asset('img/favicon-16x16.png') }}">
</head>
{# read and display all flash messages #}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
<body>
<div class="container">
    <header>
        <nav class="navbar nav-bar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('main_home') }}"><img src="{{ asset('img/favicon1.png') }}" alt="Sortir.com">
                {% include ('inc/nav.html.twig') %}
                </a>
            </div>
        </nav>
    </header>



    <main>
        {% block body %}{% endblock%}
    </main>


    <footer>

        <div>&copy;Sortir.com {{ "now"|date("Y") }}</div>
    </footer>

</div>
</body>

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
{% endblock %}
</html>