<ul class="nav nav-pills">


    {% if app.user %}

        <li class="nav-item">
            <a class="nav-link" href="#" title="Ville">Ville</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" title="Campus">Campus</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('main_home') }}" title="Accueil">Accueil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('profil_modification', {"id":app.user.id}) }}" title="Mon profil">Mon
                profil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_logout') }}" title="Se déconnecter">Se déconnecter
                | {{ app.user.nom }}</a>
        </li>
        {% if is_granted("ROLE_ADMIN") %}

            {#
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_admin') }}" title="Admin dashboard">Admin</a>
            </li>
            #}

            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_list') }}" title="Admin list users">Liste des Utilisateurs</a>
            </li>

        {% endif %}

    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_login') }}" title="Se connecter">Se connecter</a>
        </li>
    {% endif %}


</ul>